<a href="https://colab.research.google.com/github/maithstartup/Notebooks-Practical-ML-Beginners/blob/master/1_pandas_object_from_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.__version__

'1.0.4'

# Pandas Series

From List

In [3]:
data=pd.Series(["apple","orange","mango"])

In [4]:
data

0     apple
1    orange
2     mango
dtype: object

In [5]:
data[1]

'orange'

In [6]:
data=data.set_axis(pd.Index(["A","B","C"]))

In [7]:
data2=pd.Series(["Apple","Orange","Mango"],index=["A","B","C"])

In [8]:
data2

A     Apple
B    Orange
C     Mango
dtype: object

In [9]:
data2["A"]

'Apple'

Series from numpy array

In [10]:
arr=np.arange(20,30)

In [11]:
data3=pd.Series(arr)

In [12]:
data3

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: int64

Series to numpy , list

In [13]:
arr=data.to_numpy()

In [14]:
arr

array(['apple', 'orange', 'mango'], dtype=object)

In [15]:
li=data.to_list()

In [16]:
li

['apple', 'orange', 'mango']

In [17]:
data

A     apple
B    orange
C     mango
dtype: object

#Data Frame

from Dict

In [18]:
df=pd.DataFrame({"age":[18,20,21],"gender":["Male","Female","Male"]})

In [19]:
df

   age  gender
0   18    Male
1   20  Female
2   21    Male

In [20]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
df.set_index(pd.Index(["person A","person B","person C"]))

          age  gender
person A   18    Male
person B   20  Female
person C   21    Male

In [27]:
df2=pd.DataFrame({"age":[18,20,21],"gender":["Male","Female","Male"]},[2001,2002,2003] )

In [23]:
df2

      age  gender
2001   18    Male
2002   20  Female
2003   21    Male

In [29]:
df3=pd.DataFrame([data,data2] )

In [42]:
pd.concat([data,data2],axis=1)

        0       1
A   apple   Apple
B  orange  Orange
C   mango   Mango

In [30]:
df3

       A       B      C
0  apple  orange  mango
1  Apple  Orange  Mango

In [31]:
df2.axes

[Int64Index([2001, 2002, 2003], dtype='int64'),
 Index(['age', 'gender'], dtype='object')]

Creating Data Frame from series

In [32]:
dic=df3.to_dict()

In [33]:
dic

{'A': {0: 'apple', 1: 'Apple'},
 'B': {0: 'orange', 1: 'Orange'},
 'C': {0: 'mango', 1: 'Mango'}}

In [34]:
arr=df3.to_numpy()

In [35]:
arr

array([['apple', 'orange', 'mango'],
       ['Apple', 'Orange', 'Mango']], dtype=object)

In [37]:
df3.values

array([['apple', 'orange', 'mango'],
       ['Apple', 'Orange', 'Mango']], dtype=object)