<a href="https://colab.research.google.com/github/maithstartup/Notebooks-Practical-ML-Beginners/blob/master/pandas/pandas_datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.__version__

'1.0.4'

# Pandas Series

From List

In [3]:
data=pd.Series(["apple","orange","mango"])

In [4]:
data

0     apple
1    orange
2     mango
dtype: object

In [6]:
data[1]

'orange'

In [7]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
data=data.set_axis(pd.Index(["A","B","C"]))

In [9]:
data

A     apple
B    orange
C     mango
dtype: object

In [10]:
data["B"]

'orange'

In [11]:
data2=pd.Series(["Apple","Orange","Mango"],index=["A","B","C"])

In [12]:
data2

A     Apple
B    Orange
C     Mango
dtype: object

In [13]:
data2["A"]

'Apple'

In [14]:
data2.name="fruits"

In [15]:
data2

A     Apple
B    Orange
C     Mango
Name: fruits, dtype: object

Series from numpy array

In [16]:
arr=np.arange(20,30)

In [17]:
data3=pd.Series(arr)

In [18]:
data3

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: int64

Series to numpy , list

In [19]:
arr=data.to_numpy()

In [20]:
arr

array(['apple', 'orange', 'mango'], dtype=object)

In [21]:
li=data.to_list()

In [22]:
li

['apple', 'orange', 'mango']

In [23]:
data

A     apple
B    orange
C     mango
dtype: object

#Data Frame

from Dict

In [24]:
df=pd.DataFrame({"age":[18,20,21],"gender":["Male","Female","Male"]})

In [25]:
df

   age  gender
0   18    Male
1   20  Female
2   21    Male

In [26]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df.set_index(pd.Index(["person A","person B","person C"]))

          age  gender
person A   18    Male
person B   20  Female
person C   21    Male

In [28]:
df2=pd.DataFrame({"age":[18,20,21],"gender":["Male","Female","Male"]},[2001,2002,2003] )

In [29]:
df2

      age  gender
2001   18    Male
2002   20  Female
2003   21    Male

In [30]:
df3=pd.DataFrame([data,data2] )

In [31]:
df3

               A       B      C
Unnamed 0  apple  orange  mango
fruits     Apple  Orange  Mango

In [32]:
pd.concat([data,data2],axis=1)

        0  fruits
A   apple   Apple
B  orange  Orange
C   mango   Mango

In [34]:
df2

      age  gender
2001   18    Male
2002   20  Female
2003   21    Male

In [33]:
df2.axes

[Int64Index([2001, 2002, 2003], dtype='int64'),
 Index(['age', 'gender'], dtype='object')]

Creating Data Frame from series

In [35]:
dic=df3.to_dict()

In [36]:
dic

{'A': {'Unnamed 0': 'apple', 'fruits': 'Apple'},
 'B': {'Unnamed 0': 'orange', 'fruits': 'Orange'},
 'C': {'Unnamed 0': 'mango', 'fruits': 'Mango'}}

In [37]:
arr=df3.to_numpy()

In [38]:
arr

array([['apple', 'orange', 'mango'],
       ['Apple', 'Orange', 'Mango']], dtype=object)

In [39]:
df3.values

array([['apple', 'orange', 'mango'],
       ['Apple', 'Orange', 'Mango']], dtype=object)

 [**To Explore more**](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html)